@import "../../stylesheets/variables";

.form-container-container {
  background-color: $colorBackgroundSecondary;
  padding: 32px 24px;
  overflow: auto;
}

.form-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  @include label;
  padding-right: 8px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 180px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 180px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 12px;
  border: none;
  border-radius: 2px;
  font-size: $fontSizeBody;
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
}

.flex-outer li input:not([type='checkbox']):focus,
.flex-outer li textarea:focus {
  background-color: rgba(255, 255, 255, 1);
}

.flex-inner li {
  width: 100px;
}

.input-error {
  background-color: $colorError !important;
}
