@import "../../stylesheets/variables";

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: $font;
}

.toolbar {
  @include shadow1;
  position: relative;
  z-index: 1;

  height: 56px;
  background-color: $colorPrimary;

  display: flex;
  flex-direction: row;
  justify-content: center;

  color: white;

  padding-left: 16px;
  padding-right: 8px;
}

.logo-container__title {
  @include title;
}

.logo-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-container__menu-item {
  @include button-nobg;
}

.menu-container__menu-item:active {
  background-color: $colorPrimaryDark;
}

.workspace {
  height: calc(100% - 56px);
  display: grid;
  grid-template-columns: 3fr 5fr;
}

*::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

*::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
}
