@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html, body, #root, .app {
  height: 100%; }

body {
  font-family: Roboto, sans-serif; }

.toolbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 1;
  height: 56px;
  background-color: #009688;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding-left: 16px;
  padding-right: 8px; }

.logo-container__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px; }

.logo-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.menu-container__menu-item {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px;
  cursor: pointer; }

.menu-container__menu-item:active {
  background-color: #00675b; }

.workspace {
  height: calc(100% - 56px);
  display: grid;
  grid-template-columns: 3fr 5fr; }

*::-webkit-scrollbar {
  width: 6px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */ }

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); }
