@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$font: Roboto, sans-serif;

$fontSizeTitle: 20px;
$fontSizeSubheading: 16px;
$fontSizeBody: 14px;

$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$colorPrimaryLight: #52c7b8;
$colorPrimary: #009688;
$colorPrimaryDark: #00675b;
$colorSecondaryLight: #fffd61;
$colorSecondary: #ffca28;
$colorSecondaryDark: #c79a00;

$colorBackground: #ffffff;
$colorBackgroundSecondary: #B2DFDB;
$colorPressed: #eeeeee;
$colorHover: #eeeeee;

$colorTextPrimary: #000000;
$colorTextSecondary: rgba(0, 0, 0, 0.5);
$colorTextPrimaryInverse: #ffffff;

$colorError: #FF8A80;

@mixin title {
  color: $colorTextPrimaryInverse;
  font-weight: $fontWeightNormal;
  font-size: $fontSizeTitle;
}

@mixin body1 {
  color: $colorTextPrimary;
  font-weight: $fontWeightNormal;
  font-size: $fontSizeSubheading;
}

@mixin body2 {
  color: $colorTextPrimary;
  font-weight: $fontWeightNormal;
  font-size: $fontSizeBody;
}

@mixin detail1 {
  color: $colorTextSecondary;
  font-weight: $fontWeightNormal;
  font-size: $fontSizeBody;
}

@mixin label {
  color: $colorPrimaryDark;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeBody;
  text-transform: uppercase;
}

@mixin button-nobg {
  font-size: $fontSizeBody;
  font-weight: $fontWeightMedium;
  text-transform: uppercase;
  color: $colorTextPrimaryInverse;
  padding: 8px;

  cursor: pointer;
}

@mixin shadow1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin shadow2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin shadow4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
