@import '../../stylesheets/variables';

.shipmode-row {
  height: 72px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: white;

  cursor: pointer;
}

.shipmode-row:hover {
  background-color: $colorHover;
}

.shipmode-row:active {
  background-color: $colorPressed;
}

.shipmode-row.isSelected {
  background-color: $colorSecondary;
}

.shipmode-title-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 16px;
}

.shipmode-detail-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding-right: 16px;
}

.shipmode-title-container__title {
  @include body1;
  margin-bottom: 4px;
}

.shipmode-title-container__subtitle {
  @include body2;
}

.shipmode-detail-container__item {
  @include detail1;
}
